*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
}

.container {
    display: flex;
    width: 60rem;
    border-radius: 2.2rem;
    box-shadow: 3px 11px 25px -11px rgba(0,0,0,0.42);
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    background:  linear-gradient(to bottom, #7857ff, #3330ef);
    justify-content: center;
    align-items: center;
    padding: 2.4rem 3rem;
    border-radius: 2.3rem;
    gap: 2rem;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    gap: 3rem;
}

.heading {
    color: #C8C7FF;
    margin-top: 2rem;
    font-weight: 400;
}

.circle {
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #4e21ca, #2421ca00);
    border-radius: 50%;
}

.lg-text {
    font-size: 6rem;
    color: #fff;
}

.sm-text {
    font-size: 1.6rem;
    color:#fff;
    opacity: .4;
}

.sm-heading {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.btm-text {
    color: #C8C7FF;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
}

.reaction {
    background-color: #ff57571a;
}

.memory {
    background-color: #ffb01f1a;
}

.verbal {
    background-color: #00bd911a;
}

.visual {
    background-color: #1125d41a;
}

#p-reaction {
    color: #ff5757;
}

#p-memory {
    color: #ffb01f;
}

#p-verbal{
    color: #00bd91;
}

#p-visual {
    color: #1125d4;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-span {
    color: #303b5a;
}

.item-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 500;
    font-size: 1.6rem;
}

.item-right {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.6rem;
    color: #939393;
    font-weight: 700;
}

.btn {
    background-color: #303b5a;
    color: #c8c7ff;
    padding: 1rem 0rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover,
.btn:active {
    background-color: #c8c7ff;
    color: #303b5a;
    transition: all .3s;
}

@media only screen and (max-width:768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .left {
        width: 100%;
    }

    .right {
        width: 90%;
        padding: 2.5rem;
    }
}